<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/admin_main.css">
    <link rel="stylesheet" href="/static/css/admin_ground.css">
    <script src="/static/js/admin_search_ground.js"></script>
    <script src="/static/js/fetch.js"></script>
    <title>구장관리 :: 관리자</title>
</head>
<body>
    <body>
        <!-- <header th:replace="~{/common/header :: header}"></header> -->
        <header th:fragment="header">
            <div class="flexL">
                <a href="/" class="logo">
                    <img src="/images/logo.svg" alt="로고이미지">
                </a>
            </div>
            <form class="flexR" method="post" action="/logout">
                <a class="logout" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>
                    <span>로그아웃</span>
                </a>
            </form>
            <script>
                const logout = document.querySelector('.logout');
                const formTag = document.querySelector('form.flexR');
                logout.addEventListener('click', () => formTag.submit());
            </script>
        </header>
        <div class="container">
            <!-- <aside class="side box" th:replace="~{/common/admin_menu :: adminMenu}"></aside> -->
            <aside class="side box" th:fragment="adminMenu">
                <div class="profile">
                    <span class="name">김승우</span><small>최고관리자</small>
                </div>
                <hr class="sideHr">
                <ul class="adMenu">
                    <li><a href="/admin" class="adMenuList">전체통계</a></li>
                    <li><a href="/admin/field" class="adMenuList">구장관리</a></li>
                    <li><a href="/admin/match" class="adMenuList">경기관리</a></li>
                    <li><a href="/admin/users" class="adMenuList">회원관리</a></li>
                    <li><a href="/admin/inquire" class="adMenuList">문의사항</a></li>
                    <li><a href="/admin/settings" class="adMenuList">개인정보변경</a></li>
                </ul>
            </aside>
            <div class="mainBox box">
                <h2>구장관리</h2>
                <div class="option">
                    <button class="region btnBox">
                        <span>지역</span>
                        <svg viewBox="0 0 9 6" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M4.5 6L8.39711 0.75H0.602886L4.5 6Z" fill="currentColor"></path></svg>
                    </button>
                    <ul class="subOption regionOption disabled">
                        <li>
                            <input type="radio" name="region" id="all" th:value="all">
                            <label for="all">전국</label>
                        </li>
                        <li th:each="loc : ${region}">
                            <input type="radio" name="region" th:id="${loc.name()}" th:value="${loc}">
                            <label th:for="${loc.name()}" th:text="${loc}"></label>
                        </li>
                    </ul>
                    <input type="text" name="searchWord" id="searchWord" placeholder="구장 이름을 입력해주세요.">
                    <button type="button" class="btn" id="searchBtn">검색</button>
                </div>
                <div class="group">
                    <span class="total">총 0건</span>
                    <a href="/admin/ground/add" class="btn" id="groundAdd">등록</a>
                </div>
                <ul class="searchResult" id="searchTitle">
                    <a disabled>
                        <li>번호</li>
                        <li>지역</li>
                        <li>구장이름</li>
                        <li>구장주소</li>
                        <li>등록일</li>
                    </a>
                </ul>
                <ul class="searchResult" id="searchResult">
                    <li class="none">검색 결과가 없습니다.</li>
                </ul>
            </div>
        </div>
    </body>
</body>
</html>