<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/admin_main.css">
    <link rel="stylesheet" href="/css/admin_ground_common.css">
    <script src="/js/admin_field_add.js"></script>
    <script src="/js/admin_field_image_preview.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/admin_field_add_address.js"></script>
    <title>구장등록 :: 프로젝트</title>
</head>
<body>
    <body>
        <header th:replace="~{/common/header :: header}"></header>
        <div class="container">
            <aside class="side box" th:replace="~{/common/admin_menu :: adminMenu}"></aside>
            <div class="mainBox box">
                <h2>구장등록</h2>
                <form th:action="@{/admin/field/add}" method="post" th:object="${saveFieldForm}" enctype="multipart/form-data">
                    <h3>구장이미지</h3>
                    <div class="preview">
                        <button type="button" class='imgBox' id="addImage">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width='2rem'>
                                <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                            <span id="maxImage"></span>
                        </button>
                    </div>
                    <input type="file" th:field="*{images}" accept="image/*" multiple th:errorclass="field-error">
                    <div class="errorBox">
                        <div class="errorMsg" id="errorImages"></div>
                        <div class="errorMsg field-error" th:errors="*{images}">[[${errorMsg}]]</div>
                    </div>
                    <table>
                        <tr>
                            <th>구장이름</th>
                            <td>
                                <input type="text" th:field="*{title}" class="inputForm" th:errorclass="field-error">
                                <div class="errorMsg" id="errorFileName"></div>
                                <div class="errorMsg field-error" th:errors="*{title}">[[${errorMsg}]]</div>
                            </td>
                        </tr>
                        <tr>
                            <th>구장위치</th>
                            <td>
                                <button type="button" class="regionBox">
                                    <span id="regionName">지역</span>
                                    <svg viewBox="0 0 9 6" xmlns="http://www.w3.org/2000/svg"><path d="M4.5 6L8.39711 0.75H0.602886L4.5 6Z" fill="currentColor"></path></svg>
                                    <ul class="subOption regionOption disabled">
                                        <li th:each="loc : ${region}">
                                            <input type="radio" name="region" th:id="${loc.name()}" th:value="${loc}">
                                            <label th:for="${loc.name()}" th:text="${loc}"></label>
                                        </li>
                                    </ul>
                                </button>
                                <div class="errorMsg" id="errorRegion"></div>
                                <div class="errorMsg field-error" th:errors="*{region}">[[${errorMsg}]]</div>

                                <input type="text" th:field="*{address}" class="inputForm" th:errorclass="field-error" readonly placeholder="도로명 주소">
                                <button type="button" class="addressBtn btn" onclick="searchAddress()">주소검색</button>
                                <div class="errorMsg" id="errorFieldAddress"></div>
                                <div class="errorMsg field-error" th:errors="*{address}">[[${errorMsg}]]</div>
                            </td>
                        </tr>
                        <tr>
                            <th>구장크기</th>
                            <td class="sizeBox">
                                <input type="text" th:field="*{sizeX}" placeholder="가로m" class="inputForm size" inputmode="numeric">
                                <span>X</span>
                                <input type="text" th:field="*{sizeY}" placeholder="세로m" class="inputForm size" inputmode="numeric">
                                <div class="errorMsg" id="errorSize"></div>
                                <div class="errorMsg field-error" th:errors="*{images}">[[${errorMsg}]]</div>
                            </td>
                        </tr>
                        <tr>
                            <th>구장옵션</th>
                            <td>
                                <div class="optionBox">
                                    <div class="options">
                                        <h4>주차장</h4>
                                        <ul class="radioBox">
                                            <li><input type="radio" th:field="*{parking}" id="FREE" value="FREE" th:errorclass="field-error"><label for="FREE">무료</label></li>
                                            <li><input type="radio" th:field="*{parking}" id="PAID" value="PAID" th:errorclass="field-error"><label for="PAID">유료</label></li>
                                            <li><input type="radio" th:field="*{parking}" id="NOT_AVAILABLE" value="NOT_AVAILABLE" th:errorclass="field-error"><label for="NOT_AVAILABLE">불가</label></li>
                                        </ul>
                                        <div class="errorBox">
                                            <div class="errorMsg" id="errorParking"></div>
                                            <div class="errorMsg field-error" th:errors="*{parking}">[[${errorMsg}]]</div>
                                        </div>
                                    </div>
                                    <div class="options">
                                        <h4>화장실</h4>
                                        <ul class="radioBox">
                                            <li><input type="radio" th:field="*{toilet}" id="oToilet" value="Y" th:errorclass="field-error"><label for="oToilet">있음</label></li>
                                            <li><input type="radio" th:field="*{toilet}" id="xToilet" value="N" th:errorclass="field-error"><label for="xToilet">없음</label></li>
                                        </ul>
                                        <div class="errorBox">
                                            <div class="errorMsg" id="errorToilet"></div>
                                            <div class="errorMsg field-error" th:errors="*{toilet}">[[${errorMsg}]]</div>
                                        </div>
                                    </div>
                                    <div class="options">
                                        <h4>샤워장</h4>
                                        <ul class="radioBox">
                                            <li><input type="radio" th:field="*{shower}" id="oShower" value="Y" th:errorclass="field-error"><label for="oShower">있음</label></li>
                                            <li><input type="radio" th:field="*{shower}" id="xShower" value="N" th:errorclass="field-error"><label for="xShower">없음</label></li>
                                        </ul>
                                        <div class="errorBox">
                                            <div class="errorMsg" id="errorShower"></div>
                                            <div class="errorMsg field-error" th:errors="*{shower}">[[${errorMsg}]]</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>구장 특이사항</th>
                            <td>
                                <textarea th:field="*{description}" cols="30" rows="10" class="inputForm" th:errorclass="field-error"></textarea>
                                <div class="errorMsg" id="errorDetails"></div>
                                <div class="errorMsg field-error" th:errors="*{description}">[[${errorMsg}]]</div>
                            </td>
                        </tr>
                        <tr>
                            <th>구장 시간당 가격</th>
                            <td>
                                <input type="text" th:field="*{hourPrice}" placeholder="엔화기준" class="inputForm" inputmode="numeric" style="text-align: right" value="1000">
                                <div class="errorMsg field-error" th:errors="*{hourPrice}">[[${errorMsg}]]</div>
                            </td>
                        </tr>
                    </table>
                    <div class="submitBox">
                        <input type="submit" class="submitBtn btn" value="등록">
                    </div>
                    
                </form>
            </div>
        </div>
    </body>
</body>
</html>