#main {
    padding: 40px;
    width: 100%;
}
#main > h3, #main > #mainHeader {
    margin-bottom: 40px;
}
#mainHeader {
    display: flex;
    gap: 10px;
    align-items: center;

    svg {
        width: 18px;
        height: 19px;
    }
}

.infoBox {
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(228, 228, 228, 0.25);
    border: 1px solid #d7d7d7;
    padding: 14px 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
}
.infoBox > *:first-child {
    color: var(--font-color-3);
}
.infoBox svg {
    width: 20px;
    height: 20px;
}
.infoBox svg path {
    fill: var(--font-color-3);
}
.infoBox span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.infoBox input[type='text'] {
    border: none;
    width: 100%;
    padding: 0;
}
.infoBox button.inputBox{
    width: 100%;
    justify-content: space-between;
    display: flex;
    border: none;
}
.infoBox textarea {
    width: 100%;
    border: none;
    outline: none;
}

/* 검색조건 공통 CSS */
#region {
    display: flex;
    min-width: 100px;
    padding: 0 10px;
}

.subOption {
    position: absolute;
    top: 60px;
    left: 0;
    padding: 1rem 1.5rem;
    z-index: 1;
    flex-direction: column;
    gap: 0.5rem;
}
.subOption li {
    display: flex;
    gap: 1.5rem;
    margin: 0;
    cursor: pointer;
}
.subOption label {
    text-overflow: ellipsis;
    white-space: nowrap;
}
.subOption li > * {
    margin: 0;
    cursor: pointer;
}

#searchWord {
    min-width: 200px;
    max-width: 330px;
}


.searchResult > a {
    width: 100%;
    height: 40px;
    align-items: center;
    border: 0.1rem solid var(--border-color);
    display: grid;
}
.searchResult > a > span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.searchResult .result span {
    padding: 0 16px;
}

.searchResult .none {
    justify-content: center;
    color: var(--font-color-2);
    cursor: default;
    display: flex;
}
.searchResult a {
    border-bottom: 0.5px solid hsla(0, 0%, 0%, 0.4);
}

.grid-container {
    display: grid; /* Grid Layout을 활성화 */
    grid-template-columns: repeat(4, 1fr); /* 4개의 열을 같은 비율로 설정 */
    grid-template-rows: 50px 50px auto;
    gap: 12px;
}

.item-4 {
    grid-column: 1 / 5; /* 1열에서 5열까지 차지 (4칸) */
}

.infoBox.item-4 {
    height: inherit;
    flex-direction: column;
    align-items: start;
}
.infoBox.item-4 > * {
    display: block;
}