<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header th:fragment="header">
        <img src="/static/images/logo.svg" alt="로고이미지">
        <form id="flexR" method="post" action="/admin/logout">
            <div id="profile">
                <span class="name" th:text="${name}"></span>
                <span th:text="${authority}"></span>
            </div>
            <button type="submit">로그아웃</button>
        </form>
    </header>
</body>
</html>